vishal hyderabad fc

<!--The content below is only a placeholder and can be replaced.--> 
<div style = "text-align:center"> 
    <h1> Welcome to {{title}}. </h1> 
 </div>
 
 <div> Months : 
    <select> 
       <option *ngFor = "let i of months">{{i}}</option> 
    </select> 
 </div> 
 <br/>
 
 <div> 
    <span *ngIf = "isavailable; then condition1 else condition2">
       Condition is valid.
    </span> 
    <ng-template #condition1>Condition is valid idhi shai ye</ng-template> 
    <ng-template #condition2>Condition is invalid idhi thappu</ng-template> 
 </div>
  
 <button (click) = "myClickFunction($event)"> Click Me </button>
 
 

<app-new-cmp> hi im app-new-cmp</app-new-cmp>